<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>用户创建</title>
        <!--<link rel="stylesheet" href="/static/test.css" type="text/css">-->
        <link rel="stylesheet" href="{{url_for('static',filename='test.css')}}" type="text/css"/>

    </head>
    <body>
        <form action="/test/" method="post" enctype="multipart/form-data">
            {% if error %}
            <span style="color:red;">{{error}}<br/></span>
            {% endif %}
            用户名: <input type="text" name="username" value="{{username}}" /><br/>
            密码: <input type="password" name="password" value="{{password}}"/><br/>
            年龄: <input type="text" name="age" value="{{age}}" /><br/>
            性别: <input type="radio" name="gender" value="1" checked="checked"/>男
                  <input type="radio" name="gender" value="0" />女<br/>
            爱好: <input type="checkbox" name="hobby" value="football" />足球
                  <input type="checkbox" name="hobby" value="basketball" />篮球
                  <input type="checkbox" name="hobby" value="computer" checked="checked"/>计算机
                  <input type="checkbox" name="hobby" value="movie" />电影<br/>
            部门: <select name="department">
                  <option value="de_01">研发一部</option>
                  <option value="de_02">研发二部</option>
                  <option value="ce_01" selected="selected">测试一部</option>
                  <option value="ce_02">测试二部</option>
                  </select>
                  <br/>
            备注: <textarea name="remark"></textarea><br/>
            头像: <input type="file" name="img"/><br/>
            <img src="C:\Users\Administrator\PycharmProjects\untitled\07\cmdb\test.img"/>
            <input type="submit" value="创建"/><br/>
            <span style="border: 1px solid red;background-color: aqua;color: black">span1</span>
            <span>span2</span>
            <span>span3</span>
            <span>span4</span>
            <div id="myid" class="mydiv">div1</div>
            <div class="mydiv">div2</div>
            <p>p1</p>
            <p>p2</p>
            <iframe src="http://www.baidu.com"></iframe>

        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
        </form>
    </body>
</html>
