<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>用户信息更新</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/users.css" rel="stylesheet" type="text/css">
</head>
<body>

	  <nav class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <a class="navbar-brand" href="#">CMDB</a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <ul class="nav navbar-nav navbar-right">
	            <li><a>欢迎{{session.get('user', {})}}</a></li>
	            <li><a href="/logout/">退出登录</a></li>
	          </ul>
	        </div>
	      </div>
    </nav>


	<form action="/changeuser/" method="post" enctype="multipart/form-data">

		{% if userid %}
		<input  name="id" type="hidden" value="{{userid}}" />
		{% endif %}

		用户名：
		{% if updateuser %}
		<input name="user" type="text" value="{{updateuser}}" readonly="readonly" />
		{% endif %}
		<br />

		年龄：
		{% if updateage %}
		<input name="age" type="text" value="{{updateage}}" />
		{% endif %}
		<br />

		性别：
		<input name="man" type="radio" value="nan" checked="checked" />
		男
		<input type="radio" name="women" value="nv" />
		女
		<br />

		爱好：
		<input name="hobby"  type="checkbox" value="nan"  />
		男
		<input name="hobby" type="checkbox"  value="nv" checked="checked" />
		女
		<br />

		部门：
		<select name = "department">
			<option value="de_01">研发一部 </option>
			<option value="de_02">研发二部 </option>
		</select>
		<br />

		备注：
		<textarea name="remark"></textarea>
		<br />
		<!--
		密码：
		{% if updatepassword %}
		<input name="password" type="password" value="{{updatepassword}}"> </input>
		{% endif %}
		<br />  -->

		<input class="btn btn-primary btn-sm" name="Submit" type="submit" value="提交" />
		<br />

		<span style="color:red"> {{error}} </span>


	</form>

</body>
</html>