<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
      <title>用户管理</title>
      <link rel="icon" href="/static/favicon.ico">
      <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}"  type="text/css" />
      <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}"  type="text/css" />
      <link rel="stylesheet" href="{{url_for('static',filename='css/jquery.dataTables.css')}}"  type="text/css" />

    <script type="text/javascript">
            function del(){
                if(!confirm("确认要删除？")){
                    window.event.returnValue = false;
                }

            }

           function logout(){
            if(!confirm("确定要退出？"))
            { window.event.returnValue = false; }
            }
        </script>
</head>

  <body>
  <!--导航条-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">某某系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          <li>
             {% if username %}
            <a>{{username}}欢迎回来！</a>
            {% endif %}
            </li>
            <li>
            {% for msg in get_flashed_messages() %}
            <a>{{msg}}</a>
            {% endfor %}
            </li>
            <li><a href="/logout/">退出登录</a></li>
          </ul>
        </div>
      </div>
    </nav>

  <!--页面主体，流式布局类2，适用于100%宽度，占据全部视口（viewport）的容器 -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
           <li class="active"><a href="/users/">用户管理<span class="sr-only"></span></a></li>
           <li class="inactive"><a href="/user/create/">添加用户<span class="sr-only"></span></a></li>
           <li class="inactive"><a href="/user/modifypasswd/">修改密码<span class="sr-only"></span></a></li>
           <li class="inactive"><a href="/user/finduser/">查询用户<span class="sr-only"></span></a></li>
           <li class="active"><a href="/user/logs/">日志查询<span class="sr-only"></span></a></li>
           <li class="active"><a href="/user/upload/">文件上传<span class="sr-only"></span></a> </li>

          </ul>
        </div>

     <!--表单部分 -->
        <form align="center" action="/user/find/" method="POST">
           <div>按用户名查询：<input type="TEXT" style="width:250px;height:35px;size=20px"  name="username" value="{{username}}"/>
           <br />
           <input type="SUBMIT" class="btn btn-info"  value="查询"/>
           </div>
        </form>

    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.12.4.js')}}" ></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.10.2.min.js')}}" ></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}" ></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.dataTables.js')}}" ></script>
    </div>
    </div>  <!-- container-fluid -->
  </body>
</html>

   <!--设置表格和上面的距离-->
    <style>
    body{
        margin-top: -10px;
    }</style>

  <!--汉化-->
    <script>
     $(document).ready(function() {
        $('.datatable').dataTable( {
        "language": {

        "sProcessing":   "处理中...",
        "sLengthMenu":   "_MENU_ 记录/页",
        "sZeroRecords":  "没有匹配的记录",
        "sInfo":         "显示第 _START_ 至 _END_ 项记录，共 _TOTAL_ 项",
        "sInfoEmpty":    "显示第 0 至 0 项记录，共 0 项",
        "sInfoFiltered": "(由 _MAX_ 项记录过滤)",
        "sInfoPostFix":  "",
        "sSearch":       "过滤:",
        "sUrl":          "",
        "oPaginate": {
            "sFirst":    "首页",
            "sPrevious": "上页",
            "sNext":     "下页",
            "sLast":     "末页"
        }

            }
        });
        } );
    </script>
