<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学习bootstrap</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        container
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8" >8列</div>
            <div class="col-md-10 col-md-offset-1" >10列,偏移1列</div>
        </div>

    <div class="row">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-5 control-label">Email</label>
            <div class="col-sm-2">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-5 control-label">Password</label>
            <div class="col-sm-2">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-5 col-sm-2">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember me
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-5 col-sm-2">
              <button type="submit" class="btn btn-default">Sign in</button>
            </div>
          </div>
        </form>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>用户名</th>
                    <th>密码</th>
                    <th>年龄</th>
                    <th>性别</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>kk</td>
                    <td>kk123456</td>
                    <td>29</td>
                    <td>男</td>
                </tr>
                <tr>
                    <td>kk2</td>
                    <td>kk123456</td>
                    <td>29</td>
                    <td>男</td>
                </tr>
                <tr>
                    <td>kk3</td>
                    <td>kk123456</td>
                    <td>29</td>
                    <td>男</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>

</body>
</html>