<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>JS learn</title>
    </head>
    <body>
        <input type="text" id="num1" value="10"><br/>
        <input type="text" id="num2" value="11"><br/>
        <button onclick="add()">相加</button>
        <button id="btn2">相加2</button><br/>
        <input id="content">
        <div id="result">content</div><br>
        <button class="hiddent" id="btn3">隐藏</button>
        <button class="show" id="btn3">显示</button>
        <script type="text/javascript" src="../static/jquery-2.2.4.min.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function(){
                //页面加载完成后执行这个函数
                //获取标签元素
                /**
                tag ==> jQuery('tag')
                 id ==>jQuery('#id')
                 class ==> jQuery('.class')

                **/
                //点击绑定事件
                jQuery('#btn2').click(function () {
                    var num1 = jQuery('#num1').val();  //获取第一个数值,如果括号中有数字则设置值
                    var num2 = jQuery('#num2').val();  //获取第二个数值,如果括号中有数字则设置值
                    var rt = parseInt(num1) + parseInt(num2)  //数值相加
                    jQuery('#content').val(rt)  //返回值  赋给Value属性值
                    jQuery('#result').html('结果为: '+rt)  //返回到页面值  赋值<div><xxxx/div>
                });
//                jQuery('#btn2').bind('click',function () {  //为ID btn2绑定事件
//                    var num1 = jQuery('#num1').val();  //获取第一个数值,如果括号中有数字则设置值
//                    var num2 = jQuery('#num2').val();  //获取第二个数值,如果括号中有数字则设置值
//                    var rt = parseInt(num1) + parseInt(num2)  //数值相加
//                    jQuery('#content').val(rt)  //返回值  赋给Value属性值
//                    jQuery('#result').html('结果为: '+rt)  //返回到页面值  赋值<div><xxxx/div>
//                });
                jQuery('.hiddent').click(function () {
                    jQuery('#result').hide()
                })
                jQuery('.show').click(function () {
                    jQuery('#result').show()
                })
            })
            function add() {
                var num1 = document.getElementById('num1').value,
                    num2 = document.getElementById('num2').value;
                var result = parseInt(num1) + parseInt(num2);
                document.getElementById('result').innerHTML = result;
            }
//            var name='yhzhap';
//            var age=22;
//            var gender='male';
//            var hobby=['1','2'];
//            var scores={'math': 90, 'english': 70};
//            console.log(name);
//            console.log(age);
//            console.log(gender);
//            console.log(hobby);
//            console.log(scores);
            //s = prompt('please enter you name:')
            //            if(s == 'yhzhao'){
            //                alert('ok');
            //            } else if (s == 'woniu') {
            //                alert('woniu');
            //            } else {
            //                alert('no correct');
            //            }

/*            var s = 40;
            if(s >= 80){
                alert('优秀');
            } else if (s >= '70') {
                alert('良好');
            } else if(s>=60){
                alert('及格');
            } else {
                alert('不及格');
            }

            var user = prompt('Enter you name:');
            while (user != 'kk'){
                alert('error');
                user = prompt('Enter you name:');
            }
            alert('ok')
*/
//            do{
//                var user = prompt("Enter you name:");
//                if (user != 'kk') {
//                    alert('error')
//                } else {
//                    alert('ok')
//                }
//            }while (user != 'kk')
//            var a = ['a', 'b', 'c', 'd']
//            for (i=0; i<a.length; i++) {
//                console.log(a[i]);
//            }
//            var dict1 = {'a':1, 'b':2, 'c':3}
//            dict1['d'] =4;
//            dict1['a'] = 7;
//            for (var k in dict1){
//                console.log(dict1[k])
//            }
//            function add(x, y) {
//                return x + y
//            }
//            var x = parseInt(prompt('Enter the first number:'));
//            var y = parseInt(prompt('Enter the second nuber:'));
//            console.log(add(x, y));
//            alert(x+' + '+y+' = '+add(x,y));
        </script>
    </body>
</html>