<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>{% block title %}{% endblock %}</title>
      <link href="{{url_for('static', filename='bootstrap-3.3.5-dist/css/bootstrap.min.css')}}" rel="stylesheet" />
      <link href="{{url_for('static', filename='main.css')}}" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CMDB</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a>欢迎{{session.get('user', {}).get('username', '')}}</a></li>
            <li><a href="/logout/">退出登录</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="{% block nav_user %}{% endblock %}"><a href="/users/">用户管理</a></li>
            <li class="{% block nav_logs %}{% endblock %}"><a href="/logs/">访问日志分析</span></a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block main %}{% endblock %}
        </div>
      </div>
    </div>
    {% block dialog %}{% endblock %}
    <div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="dialog-title">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="dialog-title"></h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" id="dialog-btn"></button>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='jquery-1.12.4.js')}}" ></script>
    <script type="text/javascript" src="{{url_for('static', filename='bootstrap-3.3.5-dist/js/bootstrap.min.js')}}" ></script>
    <script type="text/javascript">
      jQuery(document).ready(function() {
          jQuery('#dialog').on('show.bs.modal', function(event) {
              var that = this;
              var button = jQuery(event.relatedTarget);
              jQuery(that).find('.modal-title').html(button.data('title'));
              jQuery(that).find('#dialog-btn').html(button.data('btn'));
              jQuery('#dialog').find('.modal-body').load(button.data('url'));
          });
          jQuery('#dialog-btn').on('click', function() {
            var dialog = jQuery('#dialog');
            var form = jQuery(dialog).find('form');
            jQuery.post(form.attr('action'),
                jQuery(form).serializeArray(),
                function(data) {
                  if(data['is_ok']) {
                    if(data['success']) {
                      alert(data['success']);
                    }
                    jQuery('#dialog').modal('hide');
                    window.location.reload();
                  } else {
                    alert(data['error']);
                  }
                },
                'json'
            );
          });
      });
      {% block js %} {% endblock %}
    </script>
  </body>
</html>
