<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link href="{{url_for('static',filename='H-ui.min.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('static',filename='H-ui.admin.css')}}H-ui.admin.css" rel="stylesheet" type="text/css" />
<title>修改密码</title>
</head>
<body>
<div class="pd-20">
	<a href="/userlist/" onclick="admin_add('用户列表','admin-add.html','800','500')" class="btn btn-primary radius">返回列表页</a>
	<form action="/userupdate/" method="post" class="form form-horizontal" id="form-change-password">
		{% if error %}
		  <span style="color:darkred;font-weight: bold">{{error}}<span/>
		{% endif %}
		<div class="row cl">
			<label class="form-label col-4"><span class="c-red">*</span>用户：</label>
			<div class="formControls col-4">
				<input type="text" class="input-text" autocomplete="off" placeholder="必须填写" name="username" id="new-password" datatype="*6-18" ignore="ignore" >
			</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-4"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-4">
				<input type="password" class="input-text" autocomplete="off" placeholder="必须填写" name="newpassword" id="new-password" datatype="*6-18" ignore="ignore" >
			</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-4"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-4">
				<input type="password" class="input-text" autocomplete="off" placeholder="必须填写" name="newpassword2" id="new-password2" recheck="new-password" datatype="*6-18" errormsg="您两次输入的密码不一致！" ignore="ignore" >
			</div>
			<div class="col-4"> </div>
		</div>
		<div class="row cl">
			<div class="col-8 col-offset-4">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</div>
</script>
</body>
</html>