{% extends "layout2.html" %}

{% block commit %}action="/changeuser/" {% endblock %}

{% block readuser %}readonly="readonly"{% endblock %}
{% block type %}type=hidden{% endblock%} 
{% block readpass %}readonly="readonly"{% endblock %}

{% block managepassword %}{% endblock %}
{% block userpassword %}{% endblock %}


 {% block age %}

  <div class="form-group">
    <label for="age" class="control-label">年龄:</label>
    <input type="age" class="form-control" id="age" name="age" ></input>
  </div>

 {% endblock %}