<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='bootstrap-3.3.5-dist/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='sweetalert-1.1.1/dist/sweetalert.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='bootstrapvalidator-0.4.5/dist/css/bootstrapValidator.min.css') }}" rel="stylesheet"/>
    {% block link %}{% endblock %}
    <style>
        {% block style %}{% endblock %}
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CMDB</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a>欢迎{{ session.get('user', {}).get('username', '') }}</a></li>
                    <li><a href="/logout/">退出登录</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="{% block nav_user %}{% endblock %}">
                        <a href="/users/">用户管理</a>
                    </li>
                    <li class="{% block nav_log %}{% endblock %}">
                        <a href="/logs/">访问日志分析</span></a>
                    </li>
                    <li class="{% block nav_asset %}{% endblock %}">
                        <a href="/assets/">资产管理</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block main %}{% endblock %}
            </div>
        </div>
    </div>
    {% block dialog %}{% endblock %}
    <div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">title</h4>
          </div>
          <div class="modal-body">
            body
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary btn-form-submit">button</button>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='jquery-1.12.4.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='bootstrap-3.3.5-dist/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='sweetalert-1.1.1/dist/sweetalert.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='bootstrapvalidator-0.4.5/dist/js/bootstrapValidator.min.js')}}"></script>
    {% block script %}{% endblock %}
    <script type="text/javascript">
      jQuery(document).ready(function() {
          jQuery('#dialog').on('show.bs.modal', function (event) {
              if(!event.relatedTarget) {return;}
              var button = jQuery(event.relatedTarget);
              var title = button.data('title');
              var btn_txt = button.data('btn-txt');
              var url = button.data('url');
              var that = this;
              jQuery(that).find('.modal-title').text(title);
              jQuery(that).find('.btn-form-submit').text(btn_txt);
              jQuery(that).find('.modal-body').load(url);
              /*jQuery.get(url, {}, function(result) {
                  jQuery(that).find('.modal-body').html(result);
              });
              */
          });
          jQuery('.btn-form-submit').on('click', function() {
              var _form = jQuery('#dialog').find('form');
              var _validator = jQuery(_form).data('bootstrapValidator');
              _validator.validate();
              if(!_validator.isValid()) {return;}
              jQuery.post(_form.attr('action'), _form.serializeArray(), function(result) {
                  if(result['is_ok']) {
                      if(result['success']) {
                          swal({
                            title: result['success'],
                            text: "",
                            type: "success",
                            showCancelButton: false,
                            confirmButtonColor: "#DD6B55",
                            cancelButtonText: "取消",
                            confirmButtonText: "确定"
                          }, function(){ window.location.reload();});
                      } else {
                          window.location.reload();
                      }
                  } else {
                      var errors = [];
                      for(var key in result['errors']) {
                          errors.push(result['errors'][key]);
                      }
                      swal({
                          title: "错误",
                          text: errors.join('\n'),
                          type: "error",
                          showCancelButton: false,
                          confirmButtonColor: "#DD6B55",
                          cancelButtonText: "取消",
                          confirmButtonText: "确定"
                      });
                  }
              }, 'json')
          });
      });
      {% block js %} {% endblock %}
    </script>
</body>
</html>
