{% extends "layout.html" %}
{% block title %}用户管理{% endblock %}
{% block nav_user%}active{% endblock %}
{% block main%}
{% for msg in get_flashed_messages() %}
    <p class="bg-success">{{msg}}</p>
{% endfor %}
<p class="bg-success">{{msg}}</p>
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#dialog" data-title="创建用户" data-btn-txt="创建" data-url="/user/create/">添加用户</button>
<br/><br/>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>用户名</th>
            <th>年龄</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{user['username']}}</td>
            <td>{{user['age']}}</td>
            <td>
                <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#dialog" data-title="更新用户密码" data-btn-txt="更新密码" data-url="/user/modify-password/?id={{user['id']}}">修改密码</button>
                <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#dialog" data-title="更新用户" data-btn-txt="更新" data-url="/user/modify/?id={{user['id']}}">修改</button>
                <a class="btn btn-xs btn-danger" href="/user/delete/?id={{user['id']}}" onclick="return confirm('确定删除吗?');">删除</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
