<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="/static/login.css" type="text/css"/>-->
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}" type="text/css"/>
</head>
<body background="/static/background.jpg">
    <div class="container">
        <form class="form-signin" action="/login/" method="post">
            <h2 class="col-sm-offset-3 col-sm-10">用户登录</h2>
            <label for="inputUsername" class="sr-only">用户名</label>
            <input type="text" name="username" value="{{ username }}" id="inputUsername" class="form-control" placeholder="请输入您的用户名！" required autofocus>
            <label for="inputPassword" class="sr-only">密码</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="请输入您的用户密码！" required>
            {% if error %}
                <p style="color:red" class="bg-danger">{{ error }}</p>
            {% endif %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        </form>
    </div> <!-- /container -->
</body>
</html>