<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>TOP{{n}}</title>
    </head>
    <body>
        <a href="?topn=5"> TOP5 </a>
        <a href="?topn=10"> TOP10</a>
        <a href="?topn=30">TOP30</a>
        <table border=1>
            <thead>
                <tr>
                    <th>来源IP</th>
                    <th>访问路径</th>
                    <th>访问结果</th>
                    <th>访问次数</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rt_list %}
                <tr>
                    <th>{{row[0][0]}}</th>
                    <th>{{row[0][1]}}</th>
                    <th>{{row[0][2]}}</th>
                    <th>{{row[1]}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
