{% extends "layout.html" %}
{% block title %}用户管理{% endblock %}
{% block nav_upload%}active{% endblock %}
{% block main%}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class=flashes>
              {% for message in messages %}
                <li class="text-danger"> {{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
            <br \>
          <h2 class="sub-header">请选择要上传的本地文件</h2>
          <div class="table-responsive">
            <form action="/upload_ok/" class="navbar-form navbar" method="POST" enctype="multipart/form-data">
                文件<input class="form-control" type="file" name="re_file"/><br \>
                <br \>
                备注<textarea class="form-control" rows="" cols="" name="remark"></textarea><br \>
                <br \>
                <button type="submit" class="btn btn-default">上传</button>
            </form>
          </div>
        </div>
{% endblock %}
      </div>
    </div>
</html>
