<form action="/commituser/" method="post">
  <input type="hidden" id="userid" name="userid"></input>

  <div class="form-group">
    <label for="username" class="control-label">用户名:</label>
    <input type="text" class="form-control" id="username" name="username"></input>
  </div>

  <div class="form-group">
    <label for="password" class="control-label">密码:</label>
    <input type="password" class="form-control" id="password" name="password"></input>
  </div>

  <div class="form-group">
    <label for="age" class="control-label">年龄:</label>
    <input type="text" class="form-control" id="age" name="age"></input>
  </div>
</form>

