<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>日志统计</title>
	<link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/users.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">CMDB</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a>
							{% for msg in get_flashed_messages() %}
								<span style="color:red">{{ msg }} </span>
							{% endfor %}
						</a>
					</li>
					<li><a>欢迎{{ session.get('user', {}).get('username') }}登陆系统!!!</a></li>
					<li><a href="/logout">退出登陆</a></li>
				</ul>
			</div>
		</div>
	</nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/users/">用户管理</a></li>
            <li class="active"><a href="/logs/">日志统计</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

			<form action="/upload_logs/" method="post" enctype="multipart/form-data" name="logs" class="form-inline" >
				<div class="form-group">
					{% if logs_info %}
						<h5><input type="button" class="sub-header" value="浏览" onclick="document.logs.upload_logs.click()" />{{ logs_info }} </h5>
					{% endif %}
					<input type="file" name="upload_logs" id="upload_logs" style="display:none" onChange="changeText(this)" />
				</div>
				<div class="form-group">
					<input class="sub-header" type="submit" value="上传" id="upload" />
				</div>
			</form>
			
          <div class="table-responsive">
            <table class="table table-striped">
				<thead>
					<tr>
						<th>序号</th>
						<th>IP地址</th>
						<th>URL</th>
						<th>CODE</th>
						<th>次数</th>
					</tr>
				</thead>
				<tbody>
					{% for log in rt_list %}
						<tr>
							<td>{{ rt_list.index(log)+1}}</td>
							<td> {{ log[0] }} </td>
							<td> {{ log[1] }} </td>
							<td> {{ log[2] }} </td>
							<td> {{ log[3] }} </td>
						</tr>
					{% endfor %}
				</tbody>
            </table>
          </div>
		  <div class="row" align="center">
			<a href="/logs/?cut=10">Top 10</a>
			<a href="/logs/?cut=20">Top 20</a>
			<a href="/logs/?cut=30">Top 30</a>
	      </div>
        </div>

      </div>
    </div>

  </body>
</html>
