<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
      <title>DashBoard</title>
      <link rel="icon" href="/static/temp/favicon.ico">
      <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}"  type="text/css" />
      <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}"  type="text/css" />
      <link rel="stylesheet" href="{{url_for('static',filename='dataTables-page/css/jquery.dataTables.css')}}"  type="text/css" />

    <script type="text/javascript">
            function del(){
                if(!confirm("确认要删除？")){
                    window.event.returnValue = false;
                }

            }

           function logout(){
            if(!confirm("确定要退出？"))
            { window.event.returnValue = false; }
            }
        </script>
</head>

 <!--导航条-->
   <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">某某系统</a>
        </div>
 <!--欢迎页-->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          <li>
             {% if curuser[0]['username'] %}
            <a>{{curuser[0]['username']}}欢迎回来！</a>
            {% endif %}
            </li>
            <li><a href="/logout/">退出登录</a></li>
          </ul>
        </div>  <!--navbar-->
      </div>   <!--container-fluid-->
    </nav>

<!--如果当前用户是管理员，页面主体，流式布局类2，适用于100%宽度，占据全部视口（viewport）的容器 -->
  {% if curuser[0]['username'] in ['admin'] %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">

           <li class="active"><a href="/dashboard/">DashBoard<span class="sr-only"></span></a></li>
           <li class="active"><a href="/users/">用户管理<span class="sr-only"></span></a></li>
           <li class="active"><a href="/user/logs/">日志查询<span class="sr-only"></span></a></li>
           <li class="active"><a href="/user/upload/">文件上传<span class="sr-only"></span></a> </li>
           <li class="active"><a href="/asserts/">资产管理<span class="sr-only"></span></a></li>
          <li class="active"><a href="/networkflow/">网络流量图<span class="sr-only"></span></a></li>
           <li class="active"><a href="/networkquality/">网络质量图<span class="sr-only"></span></a></li>
           <li class="active"><a href="/networkmap/">网络拓扑图<span class="sr-only"></span></a></li>
          </ul>
        </div>
<!--如果当前用户是普通用户，页面主体，流式布局类2，适用于100%宽度，占据全部视口（viewport）的容器 -->
  {% else %}
     <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
           <li class="active"><a href="/dashboard/">DashBoard<span class="sr-only"></span></a></li>
           <li class="active"><a href="/users/">用户管理<span class="sr-only"></span></a></li>
           <li class="active"><a href="/user/logs/">日志查询<span class="sr-only"></span></a></li>
           <li class="active"><a href="/user/upload/">文件上传<span class="sr-only"></span></a> </li>
           <li class="active"><a href="/asserts/">资产管理<span class="sr-only"></span></a></li>
           <li class="active"><a href="/networkflow/">网络流量图<span class="sr-only"></span></a></li>
           <li class="active"><a href="/networkquality/">网络质量图<span class="sr-only"></span></a></li>
           <li class="active"><a href="/networkmap/">网络拓扑图<span class="sr-only"></span></a></li>
          </ul>
        </div>
    {% endif %}

  <!--偏移2列，主体内容部分 -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <!--页面主体-表格，流式布局类2，适用于100%宽度，占据全部视口（viewport）的容器 -->
        <div class="container-fluid">
             <h1> DashBoard </h1>
        </div>  <!-- container-fluid -内部 -->
        </div>



<!--页面加载完成后，加载js -->
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.12.4.js')}}" ></script>
    <!--script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.10.2.min.js')}}" ></script-->
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}" ></script>
    <script type="text/javascript" src="{{url_for('static', filename='dataTables-page/js/jquery.dataTables.js')}}" ></script>




 <!--设置表格和上面的距离-->
<style>
    body{

        margin-top: 5px;
    }
</style>

<!--汉化-->
<script>
        $(document).ready(function() {
        $('.datatable').dataTable( {
         language: {
        "sProcessing": "处理中...",
        "sLengthMenu": "显示 _MENU_ 项结果",
        "sZeroRecords": "没有匹配结果",
        "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
        "sInfoPostFix": "",
        "sSearch": "搜索:",
        "sUrl": "",
        "sEmptyTable": "表中数据为空",
        "sLoadingRecords": "载入中...",
        "sInfoThousands": ",",
        "oPaginate": {
            "sFirst": "首页",
            "sPrevious": "上页",
            "sNext": "下页",
            "sLast": "末页"
        },
        "oAria": {
            "sSortAscending": ": 以升序排列此列",
            "sSortDescending": ": 以降序排列此列"
        }
    }
        });
        } );
</script>
  </body>
</html>
