<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>用户修改</title>
      <link rel="icon" href="/static/temp/favicon.ico">
       <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}"  type="text/css" />
      <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}"  type="text/css" />
      <link rel="stylesheet" href="{{url_for('static',filename='dataTables-page/css/jquery.dataTables.css')}}"  type="text/css" />
  </head>

<!--导航条-->
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">某某系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout/">退出登录</a></li>
          </ul>
        </div>
      </div>
    </nav>

 <!--页面主体，流式布局类2，适用于100%宽度，占据全部视口（viewport）的容器 -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/dashboard/">DashBoard<span class="sr-only"></span></a></li>
            <li class="active"><a href="/users/">用户管理<span class="sr-only"></span></a></li>
           <li class="inactive"><a href="/user/create/">添加用户<span class="sr-only"></span></a></li>
           <li class="inactive"><a href="/user/modifypasswd/">修改密码<span class="sr-only"></span></a></li>
           <li class="inactive"><a href="/user/finduser/">查询用户<span class="sr-only"></span></a></li>
           <li class="active"><a href="/user/logs/">日志查询<span class="sr-only"></span></a></li>
           <li class="active"><a href="/user/upload/">文件上传<span class="sr-only"></span></a> </li>
           <li class="active"><a href="/asserts/">资产管理<span class="sr-only"></span></a></li>
          <li class="active"><a href="/networkflow/">网络流量图<span class="sr-only"></span></a></li>
           <li class="active"><a href="/networkquality/">网络质量图<span class="sr-only"></span></a></li>
           <li class="active"><a href="/networkmap/">网络拓扑图<span class="sr-only"></span></a></li>

          </ul>
        </div>
   <!--偏移2列，主体内容部分 -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <!--表单部分 -->
            <form action="/user/update/" method="post">
            <span style="color:red;">{{error}}</span>
            <input type="hidden" name="id" value="{{_id}}" />
            用户名: <input type="text" name="username" value="{{username}}" readonly="readonly" />
            密码: <input type="password" name="password" value="{{password}}" readonly="readonly" />
            年龄: <input type="text" name="age" value="{{age}}" />
            <input type="submit" class="btn btn-info" value="修改" />
            <input type="button" class="btn btn-info" value="返回" onclick="javascript:history.back();"/>
            </form>
        </div>
      </div>
    </div>
  </body>
</html>
