<form class="form-horizontal" action="/asset/modify/" method="post">
    <div class="form-group">
        <label class="col-md-3 control-label">资产编号:</label>
        <div class="col-md-5">
            <input class="form-control" type="text" name="sn" value="{{params['sn']}}" readonly/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">IP:</label>
        <div class="col-md-5">
            <input class="form-control" type="text" name="ip" value="{{params['iner_ip']}}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">CPU(核数):</label>
        <div class="col-md-5">
            <input class="form-control" id="cpu" type="text" name="cpu" data-slider-id='ex1Slider' data-slider-min="4" data-slider-max="64" data-slider-step="4" data-slider-value="{{params['cpu']}}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">内存(G):</label>
        <div class="col-md-5">
            <input class="form-control" type="text" name="ram" id="ram" data-slider-id='ex1Slider' data-slider-min="2" data-slider-max="64" data-slider-step="2" data-slider-value="{{params['ram']}}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">硬盘(G):</label>
        <div class="col-md-5">
            <input class="form-control" type="text" name="disk" id="disk" data-slider-id='ex1Slider' data-slider-min="100" data-slider-max="1000" data-slider-step="100" data-slider-value="{{params['dick']}}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">使用人:</label>
        <div class="col-md-5">
            <input class="form-control" type="text" name="admin" value="{{params['admin']}}"/>
        </div>
    </div>
</form>

<script type="text/javascript">
    jQuery(document).ready(function(){
        $('#cpu').slider({
	formatter: function(value) {
		return 'CPU核数: ' + value;
	}
    });

        $('#ram').slider({
	formatter: function(value) {
		return '内存数: ' + value;
	}
    });

        $('#disk').slider({
	formatter: function(value) {
		return '磁盘大小: ' + value;
	}
    });

        $('#safetime').datetimepicker({
            format: 'yyyy-mm-dd',
            language: "zh-CN",
            minView: "month",
            todayBtn: "linked",
            todayHighlight:"true"
        });

        $('#buytime').datetimepicker({
            format: 'yyyy-mm-dd',
            language: "zh-CN",
            minView: "month"
        });
});
</script>