{% extends 'layout.html'%}
{%block nav_asset%}active{%endblock%}
{% block link %}
<link href="{{ url_for('static', filename='bootstrap-slider/css/bootstrap-slider.min.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='sweetalert-master/dist/sweetalert.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='sweetalert-master/dist/sweetalert.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='DataTables-1.10.12/media/css/jquery.dataTables.min.css') }}" rel="stylesheet"/>
{% endblock %}
{% block main %}
          <h2 class="sub-header">资产列表</h2>
          <div class="table-responsive">
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialog" data-title="添加资产" data-submit="添加" data-url="/assets/create/">添加资产</button></td>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>资产编号</th>
                  <th>内网ip</th>
                  <th>负责人</th>
                  <th>业务</th>
                  <th>保修期</th>
                  <th>配置信息</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                {% for row in _assets %}
                <tr>
                  <td>{{row['sn']}}</td>
                  <td>{{row['iner_ip']}}</td>
                  <td>{{row['admin']}}</td>
                  <td>{{row['business']}}</td>
                  <td>{{row['warranty']}}</td>
                  <td>
                      <ul>
                          <li>CPU:{{row['cpu']}}</li>
                          <li>内存:{{row['ram']}}</li>
                          <li>硬盘:{{row['dick']}}</li>
                      </ul>
                  </td>
                  <td>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialog"
                              data-title="监控查看" data-submit="查看" data-url="/assets/performs/?sn={{row['sn']}}">查看监控</button>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialog"
                              data-title="资产修改" data-submit="修改" data-url="/assets/update/?sn={{row['sn']}}">修改资产</button>
                      <button type="button" class="btn btn-danger btn-delete" data-url="/asset/delete/?sn={{row['sn']}}" data-text="{{row['sn']}}">删除</button></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
{% endblock%}
{% block script %}
<script type="text/javascript"
        src="{{ url_for('static', filename='bootstrap-slider/js/bootstrap-slider.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js')}}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js')}}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='sweetalert-master/dist/sweetalert.min.js')}}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='DataTables-1.10.12/media/js/jquery.dataTables.js')}}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='DataTables-1.10.12/media/js/dataTables.bootstrap.js')}}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='Highcharts-4.2.5/js/highcharts.js')}}"></script>
{% endblock %}
{% block js %}
jQuery(document).ready(function() {

    jQuery('#dialog').on('show.bs.modal', function (event) {
        if(!event.relatedTarget) {return;}
        var button = jQuery(event.relatedTarget);
        var title = button.data('title');
        var btn_txt = button.data('btn-txt');
        var url = button.data('url');
        var that = this;
        jQuery(that).find('.modal-title').text(title);
        jQuery(that).find('.btn-form-submit').text(btn_txt);
        jQuery(that).find('.modal-body').load(url);
        /*
        jQuery.get(url, {}, function(result) {
            jQuery(that).find('.modal-body').html(result);
        });
        */

    });
    jQuery('.btn-form-submit').on('click', function() {
        var _form = jQuery('#dialog').find('form');
        var bootstrapValidator = $(_form).data('bootstrapValidator');
        if(bootstrapValidator) {
            bootstrapValidator.validate();
            if(!bootstrapValidator.isValid()) {return;}
        }
        jQuery.post(_form.attr('action'), _form.serialize(), function(result) {
            console.log(result['_is_ok'])
            if(result['_is_ok']) {
                if(result['success']) {
                    swal({
                        title: result['msg'],
                        text: '',
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定",
                        cancelButtonText: "关闭",
                        closeOnConfirm: true,
                        closeOnCancel: false
                        },
                        function(isConfirm){
                            window.location.reload();
                    });
                }
            } else {
                swal({
                        title: "错误信息",
                        text: result['msg'],
                        type: "error",
                        showCancelButton: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定",
                        cancelButtonText: "关闭",
                        closeOnConfirm: true,
                        closeOnCancel: false
                    },
                    function(isConfirm){
                    }
                );
            }
        }, 'json')
    });
    jQuery('.btn-delete').on('click', function() {
        var that = this,
            text = jQuery(that).data('text'),
            url = jQuery(that).data('url');

        swal({
            title: "确定删除资产" + text,
            text: '',
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            cancelButtonText: "关闭",
            closeOnConfirm: true,
            closeOnCancel: true
        },
        function(isConfirm){
            if(isConfirm) {
                window.location.replace(url);
            }
        });
    });
    jQuery('table').DataTable({
        language: {
            "sProcessing": "处理中...",
            "sLengthMenu": "显示 _MENU_ 项结果",
            "sZeroRecords": "没有匹配结果",
            "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
            "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
            "sInfoPostFix": "",
            "sSearch": "搜索:",
            "sUrl": "",
            "sEmptyTable": "表中数据为空",
            "sLoadingRecords": "载入中...",
            "sInfoThousands": ",",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页"
            },
            "oAria": {
                "sSortAscending": ": 以升序排列此列",
                "sSortDescending": ": 以降序排列此列"
            }
        }
    });
});
{% endblock %}