{% extends "layout.html" %}
{% block title %}用户管理{% endblock %}
{% block link %}
<link href="{{ url_for('static', filename='bootstrap-slider/css/bootstrap-slider.min.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='sweetalert-master/dist/sweetalert.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='sweetalert-master/dist/sweetalert.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='DataTables-1.10.12/media/css/jquery.dataTables.min.css') }}" rel="stylesheet"/>
{% endblock %}
{% block nav_user%}active{% endblock %}
{% block main%}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class=flashes>
              {% for message in messages %}
                <li class="text-danger"> {{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          <h2 class="sub-header">用户信息列表</h2>
          <div class="table-responsive">
              <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialog" data-title="用户注册" data-submit="注册" data-url="/readytoadduser/">用户注册</button></td>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>用户名</th>
                  <th>密码</th>
                  <th>年龄</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                {% for row in user_list %}
                <tr>
                  <td>{{row['username']}}</td>
                  <td>{{row['password']}}</td>
                  <td>{{row['age']}}</td>
                  <td><button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#dialog"
                              data-title="用户信息修改" data-submit="修改" data-url="/readytousermodify/?username={{row['username']}}">修改信息</button>
                      <button type="button" class="btn btn-xs btn-danger btn-delete" data-url="/asset/delete/?username={{row['username']}}" data-text="{{row['username']}}">删除用户</td>  <!--confirm为前端选择框，返回false时不提交请求给后台-->
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
{% endblock %}
{% block script%}
<script type="text/javascript"
        src="{{ url_for('static', filename='bootstrap-slider/js/bootstrap-slider.min.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js')}}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js')}}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='sweetalert-master/dist/sweetalert.min.js')}}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='DataTables-1.10.12/media/js/jquery.dataTables.js')}}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='DataTables-1.10.12/media/js/dataTables.bootstrap.js')}}"></script>
{% endblock%}
{% block js %}
jQuery(document).ready(function() {

    jQuery('#dialog').on('show.bs.modal', function (event) {
        if(!event.relatedTarget) {return;}
        var button = jQuery(event.relatedTarget);
        var title = button.data('title');
        var btn_txt = button.data('btn-txt');
        var url = button.data('url');
        var that = this;
        jQuery(that).find('.modal-title').text(title);
        jQuery(that).find('.btn-form-submit').text(btn_txt);
        jQuery(that).find('.modal-body').load(url);
        /*
        jQuery.get(url, {}, function(result) {
            jQuery(that).find('.modal-body').html(result);
        });
        */

    });
    jQuery('.btn-form-submit').on('click', function() {
        var _form = jQuery('#dialog').find('form');
        var bootstrapValidator = $(_form).data('bootstrapValidator');
        if(bootstrapValidator) {
            bootstrapValidator.validate();
            if(!bootstrapValidator.isValid()) {return;}
        }
        jQuery.post(_form.attr('action'), _form.serialize(), function(result) {
            if(result['_is_ok'] == 1) {
                if(result['success']) {
                    //alert(result['success']);
                    swal({
                        title: result['success'],
                        text: '',
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定",
                        cancelButtonText: "关闭",
                        closeOnConfirm: true,
                        closeOnCancel: false
                        },
                        function(isConfirm){
                            window.location.reload();
                    });
                }
            } else {
                swal({
                        title: "错误信息",
                        text: result['msg'],
                        type: "error",
                        showCancelButton: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定",
                        cancelButtonText: "关闭",
                        closeOnConfirm: true,
                        closeOnCancel: false
                    },
                    function(isConfirm){
                    }
                );
            }
        }, 'json')
    });
    jQuery('.btn-delete').on('click', function() {
        var that = this,
            text = jQuery(that).data('text'),
            url = jQuery(that).data('url');

        swal({
            title: "确定删除用户" + text,
            text: '',
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定",
            cancelButtonText: "关闭",
            closeOnConfirm: true,
            closeOnCancel: true
        },
        function(isConfirm){
            if(isConfirm) {
                window.location.replace(url);
            }
        });
    });
    jQuery('table').DataTable({
        language: {
            "sProcessing": "处理中...",
            "sLengthMenu": "显示 _MENU_ 项结果",
            "sZeroRecords": "没有匹配结果",
            "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
            "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
            "sInfoPostFix": "",
            "sSearch": "搜索:",
            "sUrl": "",
            "sEmptyTable": "表中数据为空",
            "sLoadingRecords": "载入中...",
            "sInfoThousands": ",",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页"
            },
            "oAria": {
                "sSortAscending": ": 以升序排列此列",
                "sSortDescending": ": 以降序排列此列"
            }
        }
    });
});
{% endblock %}
