<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新用户</title>
</head>
<body>
    <form action="/user/userupdate/" method="post" >
        {% if error %}
            <span style="color:red">{{ error }}</span>
        {% endif %}
        <p>用户<input type="text" readonly="readonly" name="username" value="{{ username }}"></p>
        <p>密码<input type="password" name="password" value="********" > </p>
        <p>年龄<input type="number" name="age" value="{{ age }}"> </p>
        <p>电话<input type="number" name="telphone" value="{{ telphone }}"> </p>
        <p>邮件<input type="text" name="email" value="{{ email }}"> </p>
        <p><input type="submit" value="确认更新"> </p>
    </form>
</body>
</html>