{% extends "layout.html" %}
{% block title %}日志检索{% endblock %}
{% block css %}
<link href="/static/css/datatable/jquery.dataTables.css" rel="stylesheet">
{% endblock %}
{% block status_log %}active{% endblock %}
{% block main %}
<div id="container" class="col-md-6" style="height: 400px"></div>
<div id="container2" class="col-md-6" style="min-width:400px;height:400px"></div>
<form action="/upload/" class="col-md-6"  method="post" enctype="multipart/form-data" >
    <p>
        <input class="file" type="file" name="files" multiple data-min-file-count="1">
    </p>
    <p>
        <button type="submit" class="btn btn-success">导入日志</button>
        <button type="reset" class="btn btn-info">重新选择</button>

        {% for msg in get_flashed_messages() %}{{ msg }}{% endfor %}
    </p>
</form>
<form action="/logs/" class="col-md-4 col-md-offset-2" method="get" >
    <p><br></p>
    <input type="text" class="searchs" name="numbers" placeholder="检索 Default Num. 10">
</form>
<div class="col-md-12 table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead align="center">
            <tr>
                <td>IP</td>
                <td>URL</td>
                <td>STATE</td>
                <td>NUMS</td>
            </tr>
        </thead>
        <tbody align="center">
        {% for i in toplist %}
            <tr>
                <td>{{ i['ip'] }}</td>
                <td align="left">{{ i['url'] }}</td>
                <td>{{ i['code'] }}</td>
                <td>{{ i['nums'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block script %}
<script type="application/javascript" src="/static/js/datatable/jquery.dataTables.js"></script>
<script type="application/javascript" src="/static/js/datatable/dataTables.bootstrap.js"></script>
<script type="application/javascript" src="/static/Highcharts-4.2.5/Highcharts-4.2.5/js/highcharts.js"></script>
<script type="application/javascript" src="/static/Highcharts-4.2.5/Highcharts-4.2.5/js/highcharts-3d.js"></script>
<script type="application/javascript" src="/static/Highcharts-4.2.5/Highcharts-4.2.5/js/modules/exporting.js"></script>
{% endblock %}
{% block javascipt %}
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('table').DataTable({
            language: {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            }
        });


        //3D饼图
        $('#container').highcharts({
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        title: {
            text: 'web访问状态码分布图'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: '状态码占比',
            data: {{ code_list|safe }}
        }]
    });



        //二维饼图
        $('#container2').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'web访问状态码分布图'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: {{ code_list|safe }}
        }]
    });
});

</script>
{% endblock %}
