<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/image/favicon.ico">
    <title>Jcui's CMDB</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/input.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top "style="background-color:darkslategray">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/user/">CMDB</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a> 欢迎 {{ session.get('username',{}).get('username','') }}</a></li>
            <li><a href="/login/">登出</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/user/">用户管理</a></li>
            <li class="active"><a href="/logs/">日志检索<span class="sr-only">(current)</span></a></li>
            <!--<li><a href="#">Analytics</a></li>-->
            <!--<li><a href="#">Export</a></li>-->
          </ul>
          <ul class="nav nav-sidebar">
            <!--<li><a href="">Nav item</a></li>-->
            <!--<li><a href="">Nav item again</a></li>-->
            <!--<li><a href="">One more nav</a></li>-->
            <!--<li><a href="">Another nav item</a></li>-->
            <!--<li><a href="">More navigation</a></li>-->
          </ul>
          <ul class="nav nav-sidebar">
            <!--<li><a href="">Nav item again</a></li>-->
            <!--<li><a href="">One more nav</a></li>-->
            <!--<li><a href="">Another nav item</a></li>-->
          </ul>
        </div>
        <div class="col-md-10 col-md-offset-2 main">
            <form action="/upload/"  method="post" enctype="multipart/form-data" >
                <p>
                    <input class="file" type="file" name="files" multiple data-min-file-count="1">
                </p>
                <p>
                    <button type="submit" class="btn btn-success">导入日志</button>
                    <button type="reset" class="btn btn-info">重新选择</button>
                    {% for msg in get_flashed_messages() %}{{ msg }}{% endfor %}
                </p>
            </form>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <td>IP</td>
                            <td>URL</td>
                            <td>STATE</td>
                            <td>NUMS</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in toplist %}
                        <tr>
                            <td>{{ i['ip'] }}</td>
                            <td>{{ i['url'] }}</td>
                            <td>{{ i['code'] }}</td>
                            <td>{{ i['nums'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
