<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/image/favicon.ico">
    <title>Jcui's CMDB</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  </head>
s
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top "style="background-color:darkslategray">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/user/">CMDB</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a> 欢迎 {{ session.get('username',{}).get('username','') }}</a></li>
            <li><a href="/login/">登出</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/user/">用户管理 <span class="sr-only">(current)</span></a></li>
            <li><a href="/logs/">日志检索</a></li>
          </ul>
          <ul class="nav nav-sidebar">
          </ul>
          <ul class="nav nav-sidebar">
          </ul>
        </div>
        <div class="col-md-6 col-md-offset-2 main">
            <form action="/user/userupdate/" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="hidden" class="form-control" name="id" value="{{ id }}" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputusername" class="col-md-1 control-label">名字</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="username" value="{{ username }}" readonly="readonly" id="inputusername" placeholder="请输入用户名" required autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputage" class="col-md-1 control-label">年龄</label>
                    <div class="col-md-6">
                        <input type="number" class="form-control" name="age" value="{{ age }}" id="inputage" placeholder="请输入年龄" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputel" class="col-md-1 control-label">电话</label>
                    <div class="col-md-6">
                        <input type="tel" class="form-control" name="telphone" value="{{ telphone }}" id="inputel" placeholder="请输入手机号码" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputemail" class="col-md-1 control-label">邮箱</label>
                    <div class="col-md-6">
                        <input type="email" class="form-control" name="email" value="{{ email }}" id="inputemail" placeholder="请输入电子邮箱" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-2">
                        {% if error %} <span class="bg-danger">{{ error }} </span>{% endif %}
                    </div>
                    <div class="col-md-2 col-md-offset-1">
                        <button type="submit" class="btn btn-success">确认提交</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </body>
</html>
