{% extends "layout.html" %}
{% block title %}日志分析{% endblock %}
{% block nav_log %}active{% endblock %}
   {% block main %}
    <form action="/uploadlogs/" method="post" enctype="multipart/form-data">
        <div class="col-md-3">
            <a class="btn btn-link" href="/log/?topn=10">Top 10</a>
            <a class="btn btn-link" href="/log/?topn=25">Top 25</a>
            <a class="btn btn-link" href="/log/?topn=50">Top 50</a>
        </div>
        <div class="col-md-5" >
            <div class="input-group">
                <input type="file" name="logfile" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">上传文件</button>
                </span>
            </div>
        </div>
    </form>
    <br><br><br>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>排序</th>
                <th>Ip</th>
                <th>Url</th>
                <th>Code</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            {% for node in rt_list %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{node[0]}}</td>
                    <td>{{node[1]}}</td>
                    <td>{{node[2]}}</td>
                    <td>{{node[3]}}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
   {% endblock %}