<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>用户修改</title>
    </head>
    <body>
        <form action="/user/update/" method="post">
            {% if error %}
                <a>{{error}}</a>
            {% endif %}
            <input type="hidden" name="id" value="{{id}}">
            用户名:<input type="text" name="username" value="{{username}}" />
            密码:<input type="password" name="password" value="">
            年龄:<input type="text" name="age" value="{{age}}">
            <button type="submit">修改用户</button>
        </form>
    </body>
</html>