<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<LINK rel="Bookmark" href="/favicon.ico" >
<LINK rel="Shortcut Icon" href="/favicon.ico" />
<link href="{{url_for('static',filename='H-ui.min.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('static',filename='H-ui.admin.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('static',filename='style.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('static',filename='iconfont.css')}}" rel="stylesheet" type="text/css" />
<title>用户列表</title>
</head>
<body>
<div class="cl pd-5 bg-1 bk-gray mt-20" style="text-align: center;color: red; font-weight: bold;font-size: 14px;">
	{% for msg in get_flashed_messages() %}
  <span>{{msg}}</span>
{% endfor %}</a></span>&nbsp;&nbsp;<span></div>

<div class="pd-20">
	<form action="/user/query/" method="post" class="form form-horizontal" id="form-admin-add">
	<div class="text-c">
		<input type="text" class="input-text" style="width:250px" placeholder="仅限用户名查询和年龄~~" id="" name="user_n_a">
		<button type="submit" class="btn btn-success" id="" name=""> 搜用户</button>
	</div>
		</form>
	<a href="/users/" onclick="admin_add('用户列表','admin-add.html','800','500')" class="btn btn-primary radius">返回列表页</a>
	{% if error %}
		  <span style="color:darkred;font-weight: bold">{{error}}<span/>
	{% endif %}
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a href="/user/create/" onclick="admin_add('添加用户','admin-add.html','800','500')" class="btn btn-primary radius"> 添加用户</a></span>&nbsp;&nbsp;<span> <a href="/logout/" onclick="admin_add('添加用户','admin-add.html','800','500')" class="btn btn-primary radius"> 退出</a>&nbsp;&nbsp;<span style="font-weight: bold;color: red;" >欢迎{{session.get('user',{}).get('username',{})}}!</span></span></div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr class="text-c">
				<th width="150">id</th>
				<th width="150">用户名</th>
				<th width="90">密码</th>
				<th width="90">年龄</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
		{% for user in users %}
			<tr class="text-c">
				<td>{{user['id']}}</td>
				<td>{{user['username']}}</td>
				<td>******</td>
				<td>{{user['age']}}</td>
				<td><a href="/user/modify/?id={{user['id']}}" onclick="datadel()" class="btn btn-danger radius">更新</a>
				    <a href="/user/delete/?id={{user['id']}}" onclick="datadel()" class="btn btn-danger radius">删除</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
			  <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l" style="margin-left: 700px"> <a href="/user/order/?order=asc" onclick="admin_add('添加用户','admin-add.html','800','500')" class="btn btn-primary radius" style="text-align: center;font-weight: bold;font-size: 14px;">正序</a>&nbsp;&nbsp;<a href="/log/" onclick="admin_add('添加用户','admin-add.html','800','500')" class="btn btn-primary radius" style="text-align: center;font-weight: bold;font-size: 14px;">日志查看</a></span>&nbsp;&nbsp;<span> <a href="/user/order/?order=desc" onclick="admin_add('添加用户','admin-add.html','800','500')" class="btn btn-primary radius" style="text-align: center;font-weight: bold;font-size: 14px;">反序</a></span></div>
</div>

</body>
</html>