<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>修改用户</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	{% if samepassword %}
	<h3 style="color:red; width: 100%; text-align: center;">{{samepassword}}</h3>
	{% endif %}
	{% if error %}
	<h3 style="color:red; width: 100%; text-align: center;">{{error}}</h3>
	{% endif %}
	<p style="width: 100%; text-align: center;" class="btn btn-primary">用户名：{{ username }}&nbsp&nbsp密码：{{ password }}&nbsp&nbsp年龄：{{ age }}</p>
	<form action="/user/change/" method="post" style="width: 100%; text-align: center;">
		<span>用户名:{{ username }}</span>
		<input type="text" name="username" value="{{ username }}" style="display:none" />
		<span>&nbsp&nbsp密码</span>
		<input type="text" name="password" />
		<span>&nbsp&nbsp年龄</span>
		<input type="text" name="age" />
		<input type="submit" value="修改" class="btn btn-success">
	</form>
</body>
</html>
