<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
        <a href="/logs/?topn=10">Top 10</a>
        <a href="/logs/?topn=20">Top 20</a>
        <a href="/logs/?topn=30">Top 30</a>
        <table border="1px">
            <thead>
                <tr>
                    <th>IP地址</th>
                    <th>URL</th>
                    <th>Status</th>
                    <th>次数</th>
                </tr>
            </thead>
            <tbody>
                {% for node in rt_list %}
                    <tr>
                        <td>{{ node[0][0] }}</td>
                        <td>{{ node[0][1] }}</td>
                        <td>{{ node[0][2] }}</td>
                        <td>{{ node[1] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
