<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>更新用户</title>
</head>
<body>
    <form action="/user/update/?username={{ username }}" method="POST">
        {% if username %}
        <span>请更新"{{ username }}"的信息:(年龄、密码)</span>
        {% endif %}
        {% if error %}
        <span style="color:red">{{ error }}</span>
        {% endif %}
        <input type="text" name="age" />
        <input type="password" name="password"/>
        <input type="submit" value="更新"/>
    </form>
</body>
</html>