<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>用户信息修改</title>
</head>
<body>
        <p>用户 {{username}}</p>
        <form action="/usermodify/" method="post">
           <p>密码<input type='password' name ="password"/></p>
           <p>年龄<input type="number" name="age"/></p>
            <p>确认<input type='submit' value='确认修改' /></p>
        </form>
        {% if msg %}
            <span style="color:#ff594b">{{msg}}</span>
        {% endif %}
</body>
</html>