<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>登陆</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="{{url_for('static', filename='login.css')}}" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <div class="container">
		<form class="form-signin" action="/login/" method="post">
			<h2 class="form-signin-heading">用户登陆</h2>
			<label for="inputusername" class="sr-only">用户</label>
			<input type="text" id="inputusername" class="form-control" placeholder="用户" name="username" value="{{username}}" />
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="inputPassword" class="form-control" placeholder="密码" name="password" />
			{% if error %}
				<p class="bg-danger">{{error}}</p>
			{% endif %}
			<button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
		</form>

    </div>

  </body>
</html>
