<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>用户修改</title>
    </head>
    <body>
        <form action="/user/update/" method="post">
            <span style="color:red;">{{error}}</span>
            用户ID: <input type="text" name="id" value="{{_id}}" />
            用户名: <input type="text" name="username" value="{{username}}" />
            密码: <input type="password" name="password" value="{{password}}" />
            年龄: <input type="text" name="age" value="{{age}}" />
            <input type="submit" value="修改" />
            <input type="button" value="返回上一步" onclick="javascript:history.back();"/>
            <a href="/user/find/">返回主页</a>
        </form>
    </body>
</html>
