{% extends "layout.html" %}
{% block title %}资产管理页面{% endblock %}
{% block css %}
    <link href="/static/css/bootstrap-slider.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <!--<link href="/static/css/sweetalert.css" rel="stylesheet">-->
    <link href="/static/css/datatable/jquery.dataTables.css" rel="stylesheet">
{% endblock %}
{% block status_assets %}active{% endblock %}
{% block main %}
<p><button type="button" class="btn btn-success" data-toggle="modal" data-target="#dialog" data-title="新建资产" data-url="/assets/create/" data-btn-txt="添加">添加资产</button></p>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover info">
      <thead align="center">
        <tr >
            <td>SN</td>
            <td>IP(主机名)</td>
            <td>操作系统</td>
            <td>CPU/内存/硬盘</td>
            <td>机房</td>
            <td>使用者(业务)</td>
            <td>采购时间(保修)</td>
            <td>型号(供应商)</td>
            <td>操作</td>
        </tr>
      </thead>
        <tbody align="center">
            {% for x in assets %}
                <tr>
                    <td>{{ x['sn'] }}</td>
                    <td>{{ x['ip'] }}({{x['hostname']}})</td>
                    <td>{{ x['os'] }}</td>
                    <td>
                        <ul>
                            <li>CPU : {{x['cpu']}}核</li>
                            <li>内存 : {{x['ram']}}GB</li>
                            <li>磁盘 : {{x['disk']}}GB</li>
                        </ul>
                    </td>
                    <td>{{x['idc_name']}}</td>
                    <td>{{x['admin']}}({{x['business']}})</td>
                    <td>{{x['purchase_date']}}({{x['warranty']}}年)</td>
                    <td>{{x['model']}}({{x['vendor']}})</td>
                    <td width="200">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#dialog" data-title="更新资产"
                                data-url="/assets/modify/?id={{ x['id'] }}" data-btn-txt="更新">更新资产</button>
                        <button type="button" class="btn btn-danger del-assets" data-text="{{ x['hostname'] }}" data-id="{{ x['id'] }}">删除资产</button>
                        <!--<a href="/assets/delete/?id={{ x['id'] }}" ><button type="button" onclick="return confirm('确定删除么?')"  class="btn btn-success">删除资产</button></a>-->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block dialog %}
<div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel"></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary dialog-commit"></button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
    <script type="application/javascript" src="/static/js/bootstrap-slider.js"></script>
    <script type="application/javascript" src="/static/js/bootstrap-datetimepicker.js"></script>
    <script type="application/javascript" src="/static/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="application/javascript" src="/static/js/sweetalert.min.js"></script>
    <script type="application/javascript" src="/static/js/datatable/jquery.dataTables.js"></script>
    <script type="application/javascript" src="/static/js/datatable/dataTables.bootstrap.js"></script>
{% endblock %}
{% block javascipt %}
<script type="text/javascript">
    jQuery(document).ready(function () {

         // 分页展示
        $('table').DataTable({
            language: {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            }
        });
         //修改密码加载数据
         jQuery('#dialog').on('show.bs.modal',function (event) {
             var button = jQuery(event.relatedTarget);
             var title = button.data('title');
             var btn_txt = button.data('btn-txt');
             var url = button.data('url');
             var that = this;
             jQuery(that).find('.modal-title').text(title);
             jQuery(that).find('.dialog-commit').text(btn_txt) ;
             jQuery(that).find('.modal-body').load(url)

//             jQuery.get(url,{},function (data) {
//                 jQuery(that).find('.modal-body') .html(data);
//             })

         })

        jQuery('.dialog-commit').on('click',function () {
            var _form = jQuery('#dialog').find('form');
//            console.log(_form)
            var url = _form.attr('action')
            var params = _form.serialize()          /*获取提交的信息 name为key  值为value*/
//            console.log(url)
//            console.log(params)
            jQuery.post(url,params,function (data) {
                if (data['is_ok']){
//                    alert(data['success'])
//                    jQuery('.dialog-commit').hide()
//                    window.location.reload()
                    swal({
                         title: data['success'],
                         text: '',
                         type: "success",
                         showCancelButton: false,
                         confirmButtonColor: "#DD6B55",
                         confirmButtonText: "确认",
                         cancelButtonText: "关闭",
                         closeOnConfirm: true,
                         closeOnCancel: false
                    },
                    function(isConfirm){
                        window.location.reload()
                    });
                }else{
//                    alert(data['error'])
//                    console.log(data['error'])
                    swal({
                         title: "错误信息",
                         text: data['error'],
                         type: "error",
                         showCancelButton: false,
                         confirmButtonColor: "#DD6B55",
                         confirmButtonText: "确认",
                         cancelButtonText: "关闭",
                         closeOnConfirm: true,
                         closeOnCancel: false
                    },
                    function(isConfirm){
//                        if (isConfirm) {
//                            swal("Deleted!", "Your imaginary file has been deleted.", "success");
//                        } else {
//                            swal("Cancelled", "Your imaginary file is safe :)", "error");
//                        }
                    });
                }
            })
        })
        jQuery('.del-assets').click(function() {
            var that = this
            var id = jQuery(that).data('id')
            var text = jQuery(that).data('text')
            console.log(id)
            swal({
                title: "您确定要删除吗？",
                text: "您确定要删除"+text+"这条数据？",
                type: "warning",
                showCancelButton: true,
                closeOnConfirm: false,
                confirmButtonText: "是的，我要删除",
                confirmButtonColor: "#ec6c62"
            }, function() {
                jQuery.post("/assets/delete/", {id: id}, function(data) {
                    location.reload();
                })
            });
        })


    })
</script>
{% endblock %}



