{% extends "layout.html" %}
{% block title %}日志检索{% endblock %}
{% block status_log %}active{% endblock %}
{% block main %}
<form action="/upload/" class="col-md-6"  method="post" enctype="multipart/form-data" >
    <p>
        <input class="file" type="file" name="files" multiple data-min-file-count="1">
    </p>
    <p>
        <button type="submit" class="btn btn-success">导入日志</button>
        <button type="reset" class="btn btn-info">重新选择</button>

        {% for msg in get_flashed_messages() %}{{ msg }}{% endfor %}
    </p>
</form>
<form action="/logs/" class="col-md-4 col-md-offset-2" method="get" >
    <p><br></p>
    <input type="text" class="searchs" name="numbers" placeholder="检索 Default Num. 10">
</form>
<div class="col-md-12 table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead align="center">
            <tr>
                <td>IP</td>
                <td>URL</td>
                <td>STATE</td>
                <td>NUMS</td>
            </tr>
        </thead>
        <tbody align="center">
        {% for i in toplist %}
            <tr>
                <td>{{ i['ip'] }}</td>
                <td align="left">{{ i['url'] }}</td>
                <td>{{ i['code'] }}</td>
                <td>{{ i['nums'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
