<!DOCTYPE html>
<html>
		<head>
				<meta charset="utf-8">
				<title>用户列表</title>
				<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
		</head>
		<body>
			<div class="container">
				<div class="row">
					<a href="/useradd/index/">新增</a>
					<a href="/logs">查看日志</a>
					<a href="/logout">退出登陆</a>
					欢迎{{ session.get('user', {}).get('username') }}登陆系统!!!
					{% for msg in get_flashed_messages() %}
						<span style="color:red">{{ msg }} </span>
					{% endfor %}				
				</div>	

				<div class="row">
					<table class="table table-bordered table-striped table-hover table-condensed">
						<thead>
							<tr>
								<th>用户名</th>
								<td>密码</td>
								<th>年龄</th>
								<td colspan="2" align="center">操 作</td>
							</tr>	
						</thead>
						<tbody>
							{% for user in user_list %}
								<tr>
									<td>{{ user['username'] }}</td>
									<td>{{ user['password'] }}</td>
									<td>{{ user['age'] }}</td>
									<td><a href="/useredit/index/?user_id={{ user['id'] }}">修改</a></td>
									<td><a href="/userdel/index/?user_id={{ user['id'] }}">删除</a></td>
								</tr>
							{% endfor %}	
						</tbody>
					</table>
				</div>	
			</div>
		</body>
</html>