<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>accesslog</title>
	<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/users.css" rel="stylesheet" type="text/css">
	<a href="/logs/?topn=5">top5</a>
	<a href="/logs/?topn=15">top15</a>
	<a href="/logs/?topn=25">top25</a>
	<a href="/users/">返回</a>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CMDB</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a>欢迎{{session.get('user', {})}}</a></li>
            <li><a href="/logout/">退出登录</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>IP</th>
				<th>URL</th>
				<th>CODE</th>
				<th>NUM</th>
			</tr>
		</thead>

		<tbody>
			{% for line in rt_list %}
			<tr>
				<td>{{line[0]}}</td>
				<td>{{line[1]}}</td>
				<td>{{line[2]}}</td>
				<td>{{line[3]}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>
	</div>
</body>
</html>