
<!DOCTYPE html>
<html lang="utf-8">
  <head>
    <meta charset="utf-8">
    <title>用户登录</title>
    <link rel="icon" href="/static/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}"  type="text/css" />
  </head>

  <body>
    <div class="container">

      <form class="form-signin" action="/login/" method="post">
        <h2 class="form-signin-heading">用户登录</h2>

        <label for="username" class="sr-only">username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="username" value="{{username}}" >
        <label for="Password" class="sr-only">password</label>
        <input type="password" id="Password"  name="password" class="form-control" placeholder="Password"  value="">
        {% if error %}
        <p class="bg-danger">{{error}}</p>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>

    </div> <!-- /container -->
  </body>
</html>
