
    <!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
      <title>日志查询</title>
      <link rel="icon" href="/static/favicon.ico">
      <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}"  type="text/css" />
      <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}"  type="text/css" />

    <link rel="stylesheet" type="text/css" href="http://sandbox.runjs.cn/uploads/rs/238/n8vhm36h/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="http://sandbox.runjs.cn/uploads/rs/238/n8vhm36h/bootstrap-responsiv.css">
    <link rel="stylesheet" type="text/css" href="http://sandbox.runjs.cn/uploads/rs/238/n8vhm36h/dataTables.bootstra.css">
</head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">某某系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout/">退出登录</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="/users/">用户管理<span class="sr-only"></span></a></li>


            <li class="active"><a href="/user/logs/">日志查询<span class="sr-only">(current)</span></a></li>
            <li class="inactive"><a href="/user/customlogs/">SQL语句查询<span class="sr-only"></span></a></li>

           <li class="active"><a href="/user/upload/">文件上传<span class="sr-only"></span></a> </li>

          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

              {% if username %}
        欢迎{{username}}
        {% endif %}
        {% for msg in get_flashed_messages() %}
        <span>{{msg}}</span>
        {% endfor %}
        <form align="center" action="/user/logs/" method="POST">
           <input type="TEXT" style="width:250px;height:30px;size=20px"  name="count" value="{{count}}"/>
           <input type="SUBMIT" class="btn btn-info"  value="查询"/>
       </form>

        <div class="row-fluid" >
            <table class="table table-striped table-bordered table-hover datatable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>IP</th>
                    <th>URL</th>
                    <th>CODE</th>
                    <th>次数</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td>{{log['id']}}</td>
                    <td>{{log['ip']}}</td>
                    <td>{{log['url']}}</td>
                    <td>{{log['code']}}</td>
                    <td>{{log['cnt']}}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>



            </table>
        </div>
        <script type="text/javascript" src="http://sandbox.runjs.cn/uploads/rs/238/n8vhm36h/jquery.js"></script>
        <script type="text/javascript" src="http://sandbox.runjs.cn/uploads/rs/238/n8vhm36h/jquery.dataTables.js"></script>
            <script type="text/javascript" src="http://sandbox.runjs.cn/uploads/rs/238/n8vhm36h/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://sandbox.runjs.cn/uploads/rs/238/n8vhm36h/dataTables.bootstrap.js"></script>

    </div>
</body>
</html>
    <style>
    body{
        margin-top: 20px;
    }</style>
    <script>$(document).ready(function() {
        $('.datatable').dataTable( {
        "oLanguage": {

        "sProcessing":   "处理中...",
        "sLengthMenu":   "_MENU_ 记录/页",
        "sZeroRecords":  "没有匹配的记录",
        "sInfo":         "显示第 _START_ 至 _END_ 项记录，共 _TOTAL_ 项",
        "sInfoEmpty":    "显示第 0 至 0 项记录，共 0 项",
        "sInfoFiltered": "(由 _MAX_ 项记录过滤)",
        "sInfoPostFix":  "",
        "sSearch":       "过滤:",
        "sUrl":          "",
        "oPaginate": {
            "sFirst":    "首页",
            "sPrevious": "上页",
            "sNext":     "下页",
            "sLast":     "末页"
        }

            }
        });
        } );
    </script>

<!-- Generated by RunJS (Fri Jun 17 17:40:32 CST 2016) 2ms -->
