<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Ngnix日志统计</title>
    </head>
    <body>
        <span style="color:red">{{ error }}</span>
        <form action="/logs/" method ="post">
            查询TOPN:<input type="text" name="topn"/><input type="submit" value="查询"/>
        </form>
        <table border="1px">
            <thead>
                <tr>
                    <th>IP</th>
                    <th>URL</th>
                    <th>CODE</th>
                    <th>COUNT</th>
                </tr>
            </thead>
            <tbody>
                {% for info in rt_list %}
                    <tr>
                        <td>{{info[0]}}</td>
                        <td>{{info[1]}}</td>
                        <td>{{info[2]}}</td>
                        <td>{{info[3]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/logout/">登出</a>
    </body>
</html>