<div id="perform_container" style="min-width:850px;height:400px"></div>
    <div id="cpu_container" style="min-width: 310px; max-width: 400px; height: 300px; margin: 0 50px"></div>
    <div id="ram_container" style="min-width: 310px; max-width: 400px; height: 300px; margin: -300px 450px"></div>
<script type="application/javascript">
$(function () {
    $('#perform_container').highcharts({
        title: {
            text: '',
            x: -20 //center
        },
        subtitle: {
            text: 'CPU & 内存监控',
            x: -20
        },
        xAxis: {
            categories: {{ datetime_list|safe }}
        },
        yAxis: {
            title: {
                text: 'CPU & 内存监控'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '%'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'CPU使用率',
            data: {{ cpu_list|safe }}
        }, {
            name: '内存使用率',
            data: {{ ram_list|safe }}
        }]
    });
    //cpu使用率
    $('#cpu_container').highcharts({
        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: 'CPU使用率'
        },
        pane: {
            startAngle: -150,
            endAngle: 150,
            background: [{
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#FFF'],
                        [1, '#333']
                    ]
                },
                borderWidth: 0,
                outerRadius: '109%'
            }, {
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#333'],
                        [1, '#FFF']
                    ]
                },
                borderWidth: 1,
                outerRadius: '107%'
            }, {
                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '105%',
                innerRadius: '103%'
            }]
        },
        // the value axis
        yAxis: {
            min: 0,
            max: 100,
            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',
            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                text: '百分比(%)'
            },
            plotBands: [{
                from: 0,
                to: 60,
                color: '#55BF3B' // green
            }, {
                from: 60,
                to: 90,
                color: '#DDDF0D' // yellow
            }, {
                from: 90,
                to: 100,
                color: '#DF5353' // red
            }]
        },
        series: [{
            name: '使用率',
            data: [{{ cpu_end|safe }}],
            tooltip: {
                valueSuffix: '%'
            }
        }]
    },
                               // Add some life
    function (chart) {
        if (!chart.renderer.forExport) {
            setInterval(function () {
                var point = chart.series[0].points[0], newVal
                var id = {{ id }}
                    $.get('/assets/performs/endstat/',{'name':'cpu','id': id },function (data) {
                    newVal = data['y'];
                    point.update(newVal);
                })


            }, 30 * 1000);
        }
    });
    //ram使用率
    $('#ram_container').highcharts({
        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: '内存使用率'
        },
        pane: {
            startAngle: -150,
            endAngle: 150,
            background: [{
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#FFF'],
                        [1, '#333']
                    ]
                },
                borderWidth: 0,
                outerRadius: '109%'
            }, {
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#333'],
                        [1, '#FFF']
                    ]
                },
                borderWidth: 1,
                outerRadius: '107%'
            }, {
                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '105%',
                innerRadius: '103%'
            }]
        },
        // the value axis
        yAxis: {
            min: 0,
            max: 100,
            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',
            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                text: '百分比(%)'
            },
            plotBands: [{
                from: 0,
                to: 60,
                color: '#55BF3B' // green
            }, {
                from: 60,
                to: 90,
                color: '#DDDF0D' // yellow
            }, {
                from: 90,
                to: 100,
                color: '#DF5353' // red
            }]
        },
        series: [{
            name: '使用率',
            data: [{{ ram_end|safe }}],
            tooltip: {
                valueSuffix: '%'
            }
        }]
    },
                               // Add some life
    function (chart) {
        if (!chart.renderer.forExport) {
            setInterval(function () {
                var point = chart.series[0].points[0], newVal
                var id = {{ id }}
                    $.get('/assets/performs/endstat/',{'name':'ram','id': id},function (data) {
                    newVal = data['y'];
                    point.update(newVal);
                })
            }, 30 * 1000);
        }
    });

});

</script>