{% extends "layout.html" %}
{% block title %}资产管理{% endblock %}
{% block link %}
<link href="/static/bootstrap-time-sider/css/bootstrap-slider.min.css" rel="stylesheet"/>
<link href="/static/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>

{% endblock %}

{% block nav_assets %}active{% endblock %}

{% block main %}
<br/><br/>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>SN</th>
            <th>IP(主机名)</th>
            <th>操作系统</th>
            <th>CPU/内存/硬盘</th>
            <th>机房</th>
            <th>使用者(业务)</th>
            <th>采购时间(保修时长)</th>
            <th>型号(供应商)</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for asset in assets %}
        <tr>
            <td>{{asset['sn']}}</td>
            <td>{{asset['ip']}}({{asset['hostname']}})</td>
            <td>{{asset['os']}}</td>
            <td>
                <ul>
                    <li>cpu:{{asset['cpu']}}核</li>
                    <li>内存:{{asset['mem']}}G</li>
                    <li>硬盘:{{asset['disk']}}G</li>
                </ul>
            </td>
            <td>{{asset['idc_id']}}</td>
            <td>{{asset['admin']}}({{asset['business']}})</td>
            <td>{{asset['purchase_date']}}({{asset['warranty']}})</td>
            <td>{{asset['model']}}({{asset['vendor']}})</td>
            <td>
                <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#dialog" data-title="修改资产" data-btn="修改" data-url="/assets/modify/?sn={{asset['sn']}}">修改</button>
                <a class="btn btn-xs btn-danger" href="/assets/delete/?sn={{asset['sn']}}" onclick="return confirm('确定删除吗?');">删除</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialog" data-title="添加资产" data-btn='添加' data-url='/assets/add/'>添加资产</button>
{% endblock %}
{% block dialog %}

    
{% endblock %}
{% block script%}
<script type="text/javascript" src="/static/bootstrap-time-sider/js/bootstrap-slider.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
{% endblock %}

