<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nginx状态排序</title>
</head>
<body>
        <a href="/import_los/">【日志导入】</a>&nbsp;
        <form action="/logs/">
            <p>请输入Top(n)<input type="number" name="numbers" value="10" ><input type="submit" value="提交"></p>
        </form>
    <table border="1">
        <thead>
            <tr>
                <td>IP</td>
                <td>URL</td>
                <td>STATE</td>
                <td>NUMS</td>
            </tr>
        </thead>
        <tbody>
            {% for i in toplist %}
            <tr>
                <td>{{ i['ip'] }}</td>
                <td>{{ i['url'] }}</td>
                <td>{{ i['code'] }}</td>
                <td>{{ i['nums'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>

            </tr>
        </tfoot>
    </table>

</body>
</html>