<form class="form-horizontal" action="/asset/change/" method="post">
    <div class="form-group" style="display:none">
        <label class="col-md-3 control-label">id:</label>
        <div class="col-md-6">
            <input type="text" class="form-control" name="id" id="id" value="{{ asset['id'] }}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">SN编号:</label>
        <div class="col-md-6">
            <input type="text" class="form-control" name="sn" id="sn" value="{{ asset['sn'] }}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">IP:</label>
        <div class="col-md-6">
            <input class="form-control" type="text" name="ip" id="ip" value="{{ asset['ip'] }}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">主机名:</label>
        <div class="col-md-6">
            <input class="form-control" type="text" name="hostname" id="hostname" value="{{ asset['hostname'] }}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">操作系统:</label>
        <div class="col-md-6">
            <input class="form-control" type="text" name="os" id="os" value="{{ asset['os'] }}"/>
        </div>
    </div>
     <div class="form-group">
            <label class="col-md-3 control-label">CPU(核数):</label>
            <div class="col-md-6">
                <input class="form-control" type="text" id="cpu" name="cpu" data-slider-id='ex1Slider'\
                       data-slider-min="2" data-slider-max="64" data-slider-step="2" data-slider-value="{{ asset['cpu'] }}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">内存(G):</label>
            <div class="col-md-6">
                <input class="form-control" type="text" id="ram" name="ram" data-slider-id='ex2Slider'\
                       data-slider-min="2" data-slider-max="512" data-slider-step="1" data-slider-value="{{ asset['ram'] }}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">硬盘(G):</label>
            <div class="col-md-6">
                <input class="form-control" type="text" id="disk" name="disk" data-slider-id='ex3Slider'\
                       data-slider-min="20" data-slider-max="2048" data-slider-step="10" data-slider-value="{{ asset['disk'] }}"/>
            </div>
        </div>
    <div class="form-group">
        <label class="col-md-3 control-label">机房:</label>
        <div class="col-md-6">
            <select name="idc_id" id="idc_id">
                {% for _id, _value in idcs %}
                    <option value="{{_id}}">{{_value}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">使用人:</label>
        <div class="col-md-6">
            <input class="form-control" type="text" name="admin" id="admin" value="{{ asset['admin'] }}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">业务:</label>
        <div class="col-md-6">
            <input class="form-control" type="text" name="business" id="business" value="{{ asset['business'] }}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">采购日期:</label>
        <div class="col-md-6">
             <input class="form-control" type="text" id="purchase_date" name="purchase_date" value="{{ asset['purchase_date'] }}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">保修时间:</label>
        <div class="col-md-6">
            <input class="form-control" type="text" name="warranty" id="warranty" value="{{ asset['warranty'] }}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">供应商:</label>
        <div class="col-md-6">
            <input class="form-control" type="text" name="vendor" id="vendor" value="{{ asset['vendor'] }}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">型号:</label>
        <div class="col-md-6">
            <input class="form-control" type="text" name="model" id="model" value="{{ asset['model'] }}"/>
        </div>
    </div>
</form>
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('#cpu').slider({
            formatter: function(value) {
                return 'CPU核数: ' + value;
            }
        });
        jQuery('#ram').slider({
            formatter: function(value) {
                return '内存大小: ' + value;
            }
        });
        jQuery('#disk').slider({
            formatter: function(value) {
                return '硬盘: ' + value + 'G';
            }
        });
        $('#purchase_date').datetimepicker({
            language: 'zh-CN',
            format: 'yyyy-mm-dd',
            minView:2
        });
        $("#idc_id option[value='{{ asset['idc_id'] }}']").attr("selected",true);
    })
</script>