{% extends "base.html" %}

{% block title %}Nginx访问日志{% endblock %}
{% block link %}
    {{ super() }}
    <link href="/static/css/dataTables/dataTables.bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block head_script %}
    {{ super() }}
    <script type="text/javascript" src="/static/js/jquery/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/static/js/jquery/dataTables.bootstrap.min.js"></script>
{% endblock %}
{% block headscript %}
    <script type="text/javascript">
        jQuery(document).ready(function(){
            $('#logtable').DataTable({
                //lengthMenu: [5, 10, 20, 30],//这里也可以设置分页，但是不能设置具体内容，只能是一维或二维数组的方式，所以推荐下面language里面的写法。
                paging: true,//分页
                ordering: true,//是否启用排序
                searching: true,//搜索
                language: {
                    lengthMenu: '<select class="form-control input-xsmall">' + '<option value="1">1</option>' + '<option value="10">10</option>' + '<option value="20">20</option>' + '<option value="30">30</option>' + '<option value="40">40</option>' + '<option value="50">50</option>' + '</select>条记录',//左上角的分页大小显示。
                    search: '<span class="label label-success">搜索：</span>',//右上角的搜索文本，可以写html标签

                    paginate: {//分页的样式内容。
                        previous: "上一页",
                        next: "下一页",
                        first: "第一页",
                        last: "最后"
                    },

                    zeroRecords: "没有内容",//table tbody内容为空时，tbody的内容。
                    //下面三者构成了总体的左下角的内容。
                    info: "总共_PAGES_ 页，显示第_START_ 到第 _END_ ，筛选之后得到 _TOTAL_ 条，初始_MAX_ 条 ",//左下角的信息显示，大写的词为关键字。
                    infoEmpty: "0条记录",//筛选为空时左下角的显示。
                    infoFiltered: ""//筛选之后的左下角筛选提示，
                },
                paging: true,
                pagingType: "full_numbers",//分页样式的类型

            });
            $("#table_local_filter input[type=search]").css({ width: "auto" });//右上角的默认搜索文本框，不写这个就超出去了。
        });
    </script>
{% endblock %}
{% block main %}
    <h3 class="page-header" style="margin: auto">{{ pageheader }}</h3>
    <form action="/log/" method="post" class="form-inline"/>
		<span class="label label-success">请输入显示行数:</span>
		<label class="sr-only" for="TopNumber">TopNumber (in dollars)</label>
		<div class="input-group">
      		<div class="input-group-addon">TOP</div>
				<input type="text" name='topn' class="form-control" id="TopNumber" placeholder="TopNumber">
            <!--placeholder内容设置输入框中内容-->
  		</div>
		<button type="submit" class="btn btn-primary">提交</button>
	</form>
	<table class="display" cellspacing="0" width="100%" id="logtable">
		<thead>
			<tr class="info">
				<th>IP</th>
				<th>URL</th>
				<th>状态</th>
				<th>次数</th>
			</tr>
		</thead>
		<tbody>
			{% for node in rt_list %}
			<tr>
				<td>{{ node[0][0] }}</td>
				<td>{{ node[0][1] }}</td>
				<td>{{ node[0][2] }}</td>
				<td>{{ node[1] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        $('#logtable')
            .removeClass( 'display' )
            .addClass('table table-bordered table-striped table-hover');
    </script>

{% endblock %}