<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>更新用户</title>
</head>
<body>
    <form action="/user/update/?uid={{ uid }}&userinfo={{userinfo}}" method="POST">
        {% if userinfo %}
        <br />
        <span>请更新"{{ userinfo }}"的用户信息:</span>
        <br /><br />
        {% endif %}
        {% if error %}
        <span style="color:red">{{ error }}</span>
        <br /><br />
        {% endif %}
        用户名:
        <input type="text" name="username" />
        密码:
        <input type="password" name="password"/>
        年龄:
        <input type="text" name="age" />
        <input type="submit" value="更新"/>
    </form>
</body>
</html>