<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>添加用户</title>
	</head>
	<body>
		<div><h3 style="color: green">添加用户</h3></div>
		<div>
			{% for msg in get_flashed_messages() %}
				<div align="center"><h3 style="color: red">{{ msg }}</h3></div>
   			{% endfor%}
			<form action="/wuser/" method="post">
				<table>
					<tr><td>用户名：</td><td><input type="text" name="username"></td></tr>
					<tr><td>密码：</td><td><input type="password" name="password"></td></tr>
					<tr><td>年龄：</td><td><input type="text" name="age"></td></tr>
					<tr><td>电话：</td><td><input type="text" name="phone"></td></tr>
					<tr><td>邮箱：</td><td><input type="text" name="email"></td></tr>
				</table>
				<div><input type="submit" value="提交"></div>
			</form>
		</div>
	</body>
</html>