<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
<table border="1">
    <tr>
        <th colspan="5">生产环境巡检表</th>
    </tr>

    <tr>
        <th colspan="2">巡检时间:2016/05/22</th>
        <th colspan="3">运维工程师:杨瑞友</th>
    </tr>

    <tr>
        <th colspan="2">巡检项</th>
        <th>状态</th>
        <th>异常处理</th>
        <th>备注</th>
    </tr>

    <tr>
        <th rowspan="2">备份</th>
        <td>数据库</td>
        <td>yes</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>业务版本备份</td>
        <td>yes</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <th rowspan="8">日志
        </td>
        <td>nginx日志</td>
        <td>yes</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>php日志</td>
        <td>yes</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>ssh日志</td>
        <td>yes</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>crontab日志 　</td>
        <td>yes</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>用户登录日志</td>
        <td>yes</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>用户操作日志</td>
        <td>yes</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>nagios报警日志</td>
        <td>yes</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>系统message日志</td>
        <td>yes</td>
        <td></td>
        <td></td>
    </tr>


    <tr>
        <th rowspan="7">系统负载</th>
        <td> cpu<60%</td>
        <td>yes</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>硬盘<80% 　</td>
        <td>yes</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>内存负载<80%</td>
        <td>yes</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>是否使用swap</td>
        <td>yes</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>系统负载</td>
        <td>yes</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>网卡流量</td>
        <td>yes</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>系统时间</td>
        <td>yes</td>
        <td></td>
        <td></td>
    </tr>


    <tr>
        <th rowspan="4">安全检查</th>
        <td> 可疑用户</td>
        <td>yes</td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td>可疑自启动服务</td>
        <td>yes</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>系统运行时间总长</td>
        <td>yes</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>端口检查</td>
        <td>yes</td>
        <td></td>
        <td></td>
    </tr>


    <tr>
        <th rowspan="1">cacti监控</th>
        <td>趋势图是否平滑</td>
        <td>yes</td>
        <td></td>
        <td></td>
    </tr>

</table>
</body>

</html>