<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加新用户</title>
</head>
<body>
<form action="/new_users/" method="post">
    <table>
        <tr>
            {% if useradd_info %}
            <span style="color:red">{{useradd_info}} </span>
            {% endif %}
        </tr>
        <tr>
            <td>账号:</td>
            <td>
                <input type="text" name="username" value="{{username}}"/>
            </td>
        </tr>
        <br/>
        <tr>
            <td>密码:</td>
            <td>
                <input type="password" name="password"/>
            </td>
        </tr>
        <br/>
        <tr>
            <td>年龄:</td>
            <td>
                <input type="text" name="age" value="{{age}}"/>
            </td>
        </tr>
        <br/>
        <tr>
            <td>
                <input type="submit" value="新增用户"/>
            </td>
            <td>
                <input type="reset" value="重置"/>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/users">用户列表</a>
            </td>

        </tr>
    </table>
</form>
</body>
</html>